html,
body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-form {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title-input {
    flex: 1;
    border: 0.1em solid #333;
    border-radius: 2px;
    padding: 0.5em;
    font-size: 1em;
}

.list {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.list-item {
    padding: 0.5em;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2px;
    justify-content: space-between;
    border: 0.1em solid #333;
}

.list-item:hover {
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}