html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e7e6;
}

.todo-form {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title-input {
    flex: 1;
    border: 0.1em solid #333;
    border-radius: 2px;
    padding: 0.5em;
    font-size: 1em;
}

.list {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.list-item {
    background-color: #fff;
    padding: 0.5em;
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0.1em solid #333;
    border-radius: 2px;
}

.list-item:hover {
    cursor: pointer;
    box-shadow: 0px 10px 16px -2px rgba(0, 0, 0, 0.1);
}

.remove-button {
    width: 20px;
    color: #B80C09;
}

.remove-button:hover {
    color: red;
}

.done {
    background-color: rgba(0, 0, 0, 0.1);
}

.done>div {
    text-decoration: line-through;
    color: #666;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    flex: 1;
    max-width: 50em;
}

.input-group {
    display: flex;
    align-content: stretch;
}

.input-group>input {
    flex: 1 0 auto;
}

.add-button {
    color: #379237;
    border-radius: 2px;
    padding: 0.45em;
    margin-left: 0.5em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
}

.add-button :hover {
    cursor: pointer;
}