.todo-dialog {
    border-radius: 2px;
    background-color: #FFF;
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 20em;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-shadow: 0px 10px 16px -2px rgba(0, 0, 0, 0.1);
}

.todo-dialog-toolbar {
    display: flex;
    flex: 1;
    padding: 0.5em;
    justify-content: space-between;
    margin-bottom: 0.1em;
    border-bottom: 1px solid black;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.todo-dialog-toolbar>.close {
    color: #B80C09;
}

.todo-dialog-toolbar>.close:hover {
    color: red;
    cursor: pointer;
}

.todo-dialog-body {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.description-input {
    font-family: Arial, Helvetica, sans-serif;
    resize: both;
    min-width: 20em;
    min-height: 50px;
    max-height: 350px;
    margin-top: 0.5em;
    border: 0.1em solid #333;
    border-radius: 2px;
    padding: 0.5em;
    font-size: 1em;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-buttons>button {
    flex: 1;
    margin-top: 0.5em;
    border-radius: 2px;
    padding: 0.2em;
    font-size: large;
    border: 1px solid black;
    background-color: #379237;
    color: white;
    cursor: pointer;
}

.action-buttons > button:hover {
    background-color: #54B435;
}